<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css">
  <meta charset="utf-8">
  <title>Cryptocurrency Pricing Application</title>
</head>

  <body>
    <script src="https://unpkg.com/vue"></script>
    <div id="app">
        {{info}}
    </div>
    <script>
        Vue.createApp({
            el: '#app',
  data() {
    return {
      info: 'sadfsadf'
    };
  },
}).mount('#app');
    </script>
    
  </body>
</html>